.group {
  @apply w-full gap-4;
  display: flex;
  flex-direction: row;

  & .option {
    @apply h-32 w-48 cursor-pointer rounded-lg border bg-white p-4 shadow-sm;
    position: relative;
    display: flex;

    & .badge {
      @apply right-4 h-5 w-5 text-green-600;
      position: absolute;
    }

    & .container {
      @apply pointer-events-none -inset-px rounded-lg border-2 border-transparent;
      position: absolute;
      background-size: cover;
    }

    & .active {
      @apply border-2 ring-2 ring-green-500 ring-offset-2;
    }

    & .checked {
      @apply border-green-500;
    }
  }
}
